 4.6 Merging and exporting data Part 1

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

 Import the data sets into Jupyter

In [41]:
#create path
path =  r'C:\Users\Marker\Videos\Instakart Basket Analysis 01-25'
#orders data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
#products data
df_prods_clean_no_dups = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
#orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [21]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [27]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,7.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [29]:
df_ords_prior.shape

(32434489, 4)

In [31]:
df_ords.shape

(3421083, 8)

In [48]:
# merge frames
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [35]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [50]:
df_merged_large.shape

(32434489, 12)

In [44]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [46]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))